.code-array {
    font-family: monospace;
}

.diary-page {
    display: flex;

    .text {
        padding-right: 20px;
    }

    .text, .codes {
        flex: 1;
    }

    .codes textarea {
        width: 100%;
        height: 300px;
        resize: none;
    }
}

.past-codes {
    padding: 10px;
}

.metadata {

    &.open {
        border: 1px solid lightblue;
        background-color: rgba(lightblue, 0.3);
        padding: 10px;
    }

    .meta-content {
        display: flex;
        flex-wrap: wrap;

        li {
            font-weight: bold;
            min-width: 260px;
            display: inline-block;
            margin: 5px 10px;

            span {
                font-weight: normal;
            }
        }
    }
}